.col-lg-6.mb-4 {
}

.doughnut-chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 320px;
}

#doughnutChart {
    width: 100% !important;
    height: 100% !important;
}

